/* Siguren branding START */

@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');

body, h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto', sans-serif;
}

h1 {
    color: white; /* Sets the font color to white */
    background-color: #2439bb; /* Sets the background color to blue */
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
    padding-left: 0.4rem;
}



/*
.wy-nav-side {
    background-color: #2439bb; 
}
*/

a {
    color: #2439bb; /* Sets the background color to blue */
}

a:not(li.toctree-l1 > a, li.toctree-l2 > a, li.toctree-l3 > a):hover {
    color: #5770ff; /* Sets the background color to blue  on hover except for links in the side panel*/
}

.reference.internal:focus {
    background-color: #2439bb;
}

.caption-text {
    color: white; 
}

.admonition.note .admonition-title {
    background-color: #5770ff; 
}

.admonition.note {
    background-color: #ccd3fc; 
}


.card-container {
    border-radius: 0 !important;
}

.card-img-top {
    border-radius: 0 !important;
}

.card-container:hover {
    border: solid 1px #2439bb;
}

.card-title {
    font-size: 20px;
    color: #2436bb;
}

/* Siguren branding END */

.tight-table td {
    white-space:normal !important;
}

.tight-table tr {
    border-bottom: 1px solid red;
    border-top: 1px solid green;
    border-collapse: collapse;
}​

h1, h2, h3 {
    margin-top: 2em !important;
    /*
    border-bottom: 2px solid #2439bb !important;
    */
}

/*
img {
    text-align:right;
}
*/





img.instructionimg {
    padding: 0.5rem;
    border: 1px solid rgb(229, 229, 229);
}

:root {
    --mainNavColor: #2439bb !important;
}

.guilabel {
    border:1px solid #7fbbe3;
    background:#e7f2fa;
    font-size:80%;
    font-weight:700;
    border-radius:4px;
    padding:2.4px 6px;
    margin:auto 2px;
}


.mechpart {
    border:1px solid #494949;
    background:#c5c5c5;
    font-size:80%;
    font-weight:700;
    border-radius:0px;
    padding:2.4px 6px;
    margin:auto 2px;
}

.wy-table-responsive table td, 
.wy-table-responsive table th {
    white-space: normal;
}

.wy-table-responsive {
    overflow: hidden;
    overflow-x: auto;
}

table.docutils {
    width: 100%;
    max-width: 100%;
    display: table;
}


/* Start custom lists here*/

ol > li::marker {
    color: #2439bb; 
    font-weight: bold;
    font-size: 1.2em;
}

ol > li {
    margin-bottom: 1em;
}

ol > li > ul > li {
    list-style-type: none !important; /* Removes the default bullet */
    position: relative; /* Positioning context for the pseudo-element */
    margin-top: 1em;
}

ol > li > ul > li:before {
    content: '→'; /* Your desired arrow symbol */
    position: absolute; /* Position the pseudo-element absolutely */
    left: -20px; /* Adjust as necessary for alignment */
    top: 0; /* Align to the top of the list item */
}




/* End custom lists here*/






/* Start custom toctree. (From Blender Docs) */
.toctree-wrapper .toctree-l1>a {
	margin-bottom: 0.15em
}

/* Indent all lines following the first. */
.toctree-wrapper * a {
	display: block;
	width: 90%;
	text-indent: -1em;
	margin-left: 1em;
	/*invert indent*/
	padding-top: 0.25em;
	line-height: 1.25em;
}

/* Underline provided by nested ul (not li). */
.toctree-wrapper * ul {
	padding-left: 2em;
	border-top: solid #ececec 1px;
}

.toctree-wrapper>ul {
	margin-left: 1em
}

.rst-content .toctree-wrapper ul li ul {
	margin-bottom: 0.75em;
	padding-top: 0.5em;
}

.rst-content .toctree-wrapper ul li a:hover {
	color: #25afef
}

.rst-content .toctree-wrapper ul li a:visited:hover {
	color: #C961DA
}

.toctree-wrapper .toctree-l1>a {
	font-size: 104%
}

.toctree-wrapper .toctree-l2>a {
	font-size: 102%
}

.toctree-wrapper .toctree-l3>a {
	font-size: 100%
}

.toctree-wrapper .toctree-l1>ul {
	border-color: #bfbfbf
}

.toctree-wrapper .toctree-l2>ul {
	border-color: #e1e0e0
}

.toctree-wrapper .toctree-l3>ul {
	border-color: #ececec
}

/* Remove list styling, css rule hierarchy. */
.rst-content .toctree-wrapper ul li,
.rst-content .toctree-wrapper ul li li,
.rst-content .toctree-wrapper ul li li li {
	list-style-type: none;
	margin-left: 0px;
}

/* End custom toctree. */

