.tight-table td {
    white-space:normal !important;
}

table.align-center {
    margin-left: auto;
    margin-right: auto;
}

/*
.with-border img {
    border:1px solid black !important;
}
*/

section img {
    border:1px solid black !important;
}

:root {
    --mainNavColor: #2439bb !important;
}

.guilabel {
    border:1px solid #7fbbe3;
    background:#e7f2fa;
    font-size:80%;
    font-weight:700;
    border-radius:4px;
    padding:2.4px 6px;
    margin:auto 2px;
}


.mechpart {
    border:1px solid #494949;
    background:#c5c5c5;
    font-size:80%;
    font-weight:700;
    border-radius:0px;
    padding:2.4px 6px;
    margin:auto 2px;
}

/*
ol.blue-list {
    list-style: none !important;
    /*counter-reset: item !important;*/
/*}
/*
ol.blue-list li {
    counter-increment: item !important;
    margin-bottom: 5px !important;
}
  
ol.blue-list li:before {
    margin-right: 2em !important;
    content: counter(item) !important;
    background: #2439bb !important;
    border-radius: 100% !important;
    color: white !important;
    position:absolute !important;
    width: 1.2em !important;
    height: 1.2em !important;
    text-align: center !important;
    display: inline-block !important;
}